#load-container {
  width: 100vw;
  height: 100%;
  background-color: #ffffff8a;
  z-index: 2;
  position: fixed;
}

#load-container img {
  width: 25vh;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* *****************DASH BOARD CARDS ****************************** */

.content .content-box .displayCards {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.displayCards .button {
  background-color: #728ab0;
  width: 30vw;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(37, 27, 90, 0.311);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(37, 27, 90, 0.311);
  font-size: inherit;
  color: white;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  /* text-align: center; */
  padding: 2vh 1vh 1vh 3vh;
  /* text-align: center; */
  padding: 2vh 1vh 1vh 3vh;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1vh;
  align-items: flex-start;
  margin: 1vh;
}

.displayCards .button span {
  color: #000;
  background-color: white;
  border-radius: 60px;
  font-size: 6vh;
  font-size: 6vh;
  padding: 1vh;
}

.displayCards .button h2 {
  margin-top: 1vh;
  margin-bottom: 0;
  color: #151d48;
}

.displayCards .button h2 {
  margin-top: 1vh;
  margin-bottom: 0;
  color: #151d48;
}
.displayCards .button p {
  margin-top: 1vh;
  font-size: 2.5vh;
  font-size: 2.5vh;
}

/* **********************************Dash Board Second Row Recent Moment and Payment Graphs ********************************************* */
.secondRow {
  display: flex;
  flex-direction: row;

  align-items: center;
  width: 100%;
}
.graph {
  width: 37vw;
  height: 35vh;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(37, 27, 90, 0.311);
  margin: 1vh;
}
/* .recentMoment canvas {
} */

.Payments {
  margin-left: 2vw;
}

/* .Payments canvas {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(37, 27, 90, 0.311);
} */

/* **********************************Dash Board third Row Recent reports table ********************************************* */

.ReportsSection table {
  margin: 1vh;
}

/* **********************************Customer page search box ********************************************* */
.topRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1vh;
}
/* .topRow input {
  width: 30vw;
  text-decoration: none;
  font-size: 2vh;
  padding: 0.8vh;
}
.searchboxContainer {
  display: flex;
  background-color: aliceblue;
}
.searchboxContainer button {
  width: 3vw;
  padding: 0;
  height: 4vh;
  border: none;
}
.searchIcon {
  font-size: 3vh;
} */
.search input[type="text"] {
  width: 300px;
  height: 25px;
  border-radius: 25px;
  border: none;
}
.search form {
  height: 100%;
}
.search {
  float: right;
  margin: 7px;
  background-color: white;
  padding: 1vh;
}

.search button {
  background-color: transparent;
  color: #253555;
  float: right;

  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

/* **********************************Customer page Profile view******************************************** */
.profileContent {
  display: flex;
  flex-direction: row;
}
.leftSide {
  border-right: white solid;
  width: 45%;
  padding-left: 5vw;
}
.leftSide img {
  width: 10vw;
  align-items: center;
  padding-left: 7vw;
}

.leftSide .content-box .profileContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1vh;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1vh;
}
.row .tag {
  width: 25%;
  margin: 1vh;
}
.row .tag h1 {
  font-size: 2vh;
  margin: 0;
}

.row .detail p {
  margin: 0;
}

.leftSide .buttonDiv {
  display: flex;
  flex-flow: row wrap;

  align-items: center;
}
.leftSide .buttonDiv .button {
  width: 12vw;
  margin: 2vh;
}
.button {
  margin-top: 3vh;
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  color: white;
  border-radius: 2vh;
  background: #23a6f0;
  display: inline-flex;
  padding: 2vh 2vw;
  align-items: center;
  gap: 1vw;
  border-style: none;
  width: 15vw;
}

.button:hover {
  background: #2289c4;

  text-decoration: none;
}

.rightSide {
  display: flex;
  flex-direction: column;
  padding-left: 5vh;
}
.rightSide .stsection .SuppotTicketcard {
  background-color: #728ab0;
  padding: 3vh;
  border-radius: 5vh;
  width: 60vh;
}
.SuppotTicketcard .solveButton {
  display: flex;
  justify-content: flex-end;
}
/* ************************FAQ**************************** */
/* 
input,
textarea {
  width: 100%;
  font-size: 2.5vh;
}
input {
  margin-bottom: 1vh;
}

#button {
  align-items: flex-end;
}

.faq h1 {
  padding: 1vh;
  background-color: #728ab0;
  text-align: center;
  margin-bottom: 0;
}

.active {
  width: 80%;
}

.faq-item {
  display: flex;
  flex-direction: column;

  width: 100%;
  align-items: center;
}

.question {
  min-width: 100%;

  display: flex;
  background-color: white;
  color: black;
  padding: 2vh 1vw;
  cursor: pointer;
  justify-content: space-between;

  border: none;
  font-size: var(--h7);
  font-weight: var(--semi-bold);
}

.question > span {
  float: right;
}

.answer {
  font-size: var(--h8);
  width: 100%;
  display: none;
  color: #000;
  background-color: rgb(197, 197, 197);
}

.answer p {
  padding: 0 30px 0 30px;
}

.clicked > .material-symbols-outlined {
  transform: rotate(180deg);
} */

/* Verify Page Buttonons on table */

#verification .verifyBu {
  font-size: 2.3vh;
  border-radius: 2vh;
  padding: 1vh;
  width: 5vw;
  text-decoration: none;
  border: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(37, 27, 90, 0.311);
}

#verification .locView {
  background-color: #dbe452;
}
#verification .verify {
  background-color: #42ed36;
}
#verification .cancle {
  background-color: #eb1212;
}

/* ***********************Report Page****************************************** */
#reports > .topRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#reports > .topRow > .inputFileds {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1vh;
  width: 100%;
  gap: 1vh;
}
.inputFileds select {
  width: 100%;
  height: 5vh;
  decoration: none;
  font-size: 2vh;
  color: #757575;
}
.inputFileds input {
  width: 100%;
  height: 5vh;
  padding: 0;
  /* decoration: none; */
}

#reports > .reportArea {
  display: flex;
  flex-direction: column;
}
#reports > .reportArea > .areaButtons {
  display: flex;
  flex-direction: row;
  margin-left: 3vw;
}

.areaButtons div {
  display: flex;
  flex-direction: column;
  margin-right: 8vh;
  width: 6vw;
}

.areaButtons div button {
  width: 6vw;
  height: 6vw;
}

.areaButtons div p {
  text-align: center;
}

.areaButtons div button span {
  font-size: 3.5vw;
  color: #151d48;
  font-weight: 600;
}

#reports > .selectionRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 1vh;
  gap: 5vh;
}
#reports > .selectionRow div {
  width: 22vw;
}
#reports > .selectionRow > div > .columnsCB {
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  gap: 0.3vh;
}

#reports > .selectionRow > div > .columnsCB div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
  margin: 0.5vh;
}
#reports > .selectionRow > div > .columnsCB div input {
  width: 1vw;
  height: 1vw;
}

#reports > .selectionRow > .rowsSec > select {
  width: 100%;
  height: 5vh;
  decoration: none;
  font-size: 2vh;
  color: #757575;
}
#reports > .selectionRow > .spfilters > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5vw;
}
#reports > .selectionRow > .spfilters select {
  width: 50%;
  height: 5vh;
  decoration: none;
  font-size: 2vh;
  color: #757575;
}

#reports > .ButtonsRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1vh;
  gap: 1vh;
}

#reports > .ButtonsRow .button {
  width: 10vw;
  padding: 0.5vw 0vw 0.5vw 1vw;
}

#reports > .ButtonsRow .button span {
  font-size: 2vw;
}

/* ************************ Admin Profile view ************************** */
#adminProfile .profileContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#adminProfile .profileContent .middle_View {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vh;
  width: 30vw;
}

#adminProfile .profileContent .middle_View .row {
  width: 30vw;
}

#adminProfile .buttonDiv {
  display: flex;
  justify-content: flex-end;
}
#adminProfile .buttonDiv .button {
  margin: 1vh;
}

#adminProfile .profileContent img {
  width: 10vw;
  align-items: center;
  /* padding-left: 7vw; */
}
