.content .content-box .cards{
    display: flex;
    flex-flow: row wrap;
    row-gap: 2vh;
    column-gap: 2vw;
}

.cards .button{
    background-color: #728AB0;
    width: 25vw;
    height: 23vh;
    font-size: inherit;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    text-align: center;
    padding: 1vh;
    text-decoration: none;
}
.button span{
    color: #000;
    background-color: white;
    border-radius: 60px;
    font-size: 11vh;
    padding: 1vh;
}

.button h2{
   margin-top: 1vh;
}