/* b42553 delete */
#load-container {
  width: 100vw;
  height: 100%;
  background-color: #ffffff8a;
  z-index: 2;
  position: fixed;
}

#load-container img {
  width: 25vh;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.deleteButton,
#spdeletebutton {
  background-color: #c41950;
}
.deleteButton:hover,
#spdeletebutton {
  background-color: #911d42;
}
/* *****************DASH BOARD CARDS ****************************** */
#dashboard > div {
  margin-bottom: 3vh;
}
.content .content-box .displayCards {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.displayCards a {
  background-color: #728ab0;
  width: 30vw;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(37, 27, 90, 0.311);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(37, 27, 90, 0.311);
  font-size: inherit;
  color: white;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  /* text-align: center; */
  padding: 2vh 1vh 1vh 3vh;
  /* text-align: center; */
  padding: 2vh 1vh 1vh 3vh;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1vh;
  align-items: flex-start;
  margin: 1vh;
  cursor: unset;
}

.displayCards .button span {
  color: #000;
  background-color: white;
  border-radius: 60px;
  font-size: 6vh;
  font-size: 6vh;
  padding: 1vh;
}

.displayCards .button h2 {
  margin-top: 1vh;
  margin-bottom: 0;
  color: #151d48;
}

.displayCards .button h2 {
  margin-top: 1vh;
  margin-bottom: 0;
  color: #151d48;
}
.displayCards .button p {
  margin-top: 1vh;
  font-size: 2.5vh;
  font-size: 2.5vh;
}

/* **********************************Dash Board Second Row Recent Moment and Payment Graphs ********************************************* */
.secondRow {
  display: flex;
  flex-direction: row;

  align-items: center;
  width: 100%;
}
.graph {
  width: 37vw;
  height: 35vh;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(37, 27, 90, 0.311);
  margin: 1vh;
}

.demandgraph {
  padding: 2vh;
  width: 35vw;
  height: 33vh;
}
.secondRow .verifications {
  margin-left: 2vw;
  height: 100%;
  width: inherit;
}
.verifications #verificationtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.verifications #verificationtitle #number {
  background-color: white;
  color: #253555;
  border-radius: 6vh;
  font-size: 3vh;
  margin-left: 1vw;
  padding: 1vh;
  align-content: center;
  height: 4vh;
  width: 4vh;
  text-align: center;
}
.secondRow .verifications .table {
  padding-top: 0.5vh;
  width: 37vw;
  height: 35vh;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(37, 27, 90, 0.311);
}
.secondRow .verifications .table div {
  display: flex;
  flex-direction: row;
  background-color: #3b4966;
  border-radius: 3vh;
  justify-content: space-between;
  margin: 1vw;
  padding: 0 1vw;
}
#dashboard h1 {
  font-size: 3.5vh;
}
.table #cards:hover {
  background-color: #728ab0;
  cursor: pointer;
}
/* .recentMoment canvas {
} */

/* .Payments canvas {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(37, 27, 90, 0.311);
} */
.mapContainer {
  width: 50%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  margin: 1vh;
  align-items: flex-start;
}
.map {
  height: 40vh;
  width: 97%;
}

/* **********************************Dash Board third Row analytics ********************************************* */
.thirdRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.thirdRow .Profit {
  margin-left: 2vw;
}

.recentMoment {
  margin-left: 2vh;
}

/* **********************************Dash Board Fourth Row Recent reports table ********************************************* */

.ReportsSection table {
  margin: 1vh;
}

/* **********************************Customer page search box ********************************************* */
.topRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1vh;
}

.search input[type="text"] {
  width: 300px;
  height: 25px;

  border: none;
}

input:focus {
  outline: none;
}

.search form {
  height: 100%;
}
.search {
  float: right;
  margin: 7px;
  background-color: white;
  padding: 1vh;
}

.search button {
  background-color: transparent;
  color: #253555;
  float: right;

  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

/* **********************************Customer page Profile view******************************************** */
.profileContent {
  display: flex;
  flex-direction: row;
}
.leftSide {
  border-right: white solid;
  width: 36%;
  padding-left: 5vw;
}
.leftSide img {
  width: 10vw;
  align-items: center;
  padding-left: 7vw;
}

.leftSide .content-box .profileContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1vh;
}
.leftSide #editProfileForm .row div input,
#speditProfileForm .row div input,
#csmeditProfileForm .row div input,
#techeditProfileForm .row div input {
  background-color: #253555;
  border: none;
  border-bottom: white solid 1px;
  color: white;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1vh;
}
.row .tag {
  width: 30%;
  margin: 1vh;
}
.row .tag h1 {
  font-size: 2vh;
  margin: 0;
}

.row .detail p {
  margin: 0;
}

.leftSide .buttonDiv,
.spbuttonDiv,
.csmbuttonDiv {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 4vh;
}
.leftSide .buttonDiv .button,
.spbuttonDiv .button,
.csmbuttonDiv .button {
  width: 12vw;
  margin: 2vh;
}
.button {
  margin-top: 3vh;
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  color: white;
  border-radius: 2vh;
  background: #23a6f0;
  display: inline-flex;
  padding: 2vh 2vw;
  align-items: center;
  gap: 1vw;
  border-style: none;
  width: inherit;
  justify-content: center;
  cursor: pointer;
}

#PendingTickets,
#spPendingTickets {
  background-color: #162645;
  border-radius: 2vh;
  /* border: white solid 3px; */
  position: relative;
  /* top: 23vh; */
  /* right: 16vw; */
  height: 30vh;
  width: 26vw;
  padding: 1vh;
}
#PendingTickets #ticketoutline,
#spPendingTickets #spticketoutline {
  overflow: auto;
  height: inherit;
}
#ticketoutline h3,
#spticketoutline h3 {
  margin: 1vh;
  color: white;
  text-align: center;
}
.cutomerCWindow div,
.spCWindow div {
  display: flex;
  flex-direction: row;
  background-color: #3b4966;
  border-radius: 3vh;
  justify-content: space-between;
  margin: 1vw;
  padding: 0 1vw;
}
.cutomerCWindow #customerComcards:hover,
.spCWindow #spComcards:hover {
  background-color: #728ab0;
  cursor: pointer;
}

/* *******************Hover box********************* */
.customerComcards,
.spComcards {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.customerComcards:hover,
.spComcards:hover {
  cursor: pointer;
}

.customerComcards .comstatus,
.spComcards .spcomstatus {
  visibility: hidden;

  background-color: black;
  color: #fff;
  text-align: center;
  /* padding: 5px 0; */
  border-radius: 6px;
  position: absolute;
  z-index: 3;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 2vh;
  padding: 1vh;
}

.customerComcards:hover .comstatus,
.spComcards:hover .spcomstatus {
  visibility: visible;
}
.customerComcards .comstatus::after,
.spComcards .spcomstatus::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

#dashboard h1 {
  font-size: 3.5vh;
}
.table #cards:hover {
  background-color: #728ab0;
  cursor: pointer;
}
#cusprof button {
  width: 12vw;
}
#deletebutton {
  background-color: #c41950;
}
#deletebutton:hover {
  background-color: #911d42;
}
#cusprof .rightSide button {
  width: 7vw;
  /* background: #23a6f0; */
  margin-top: 0;
}
#cusprof .rightSide button:hover {
  background: #2289c4;

  text-decoration: none;
}
.button:hover {
  background: #2289c4;

  text-decoration: none;
}

.rightSide {
  display: flex;
  flex-direction: column;
  padding-left: 5vh;
  width: 45%;
}
/* .rightSide .SuppotTicketcard .row,
.rightSide .spSuppotTicketcard .row,
.rightSide .csSuppotTicketcard .row {
  margin: 0;
}
.rightSide .stsection #no_support_tickets,
.rightSide .spstsection #spno_support_tickets,
.rightSide .stsection #csno_support_tickets {
  color: #525c9394;
  text-align: center;
  font-size: 2vw;
  padding: 0 8vw;
}
.rightSide .stsection .SuppotTicketcard,
.rightSide .spstsection .spSuppotTicketcard,
.rightSide .stsection .csSuppotTicketcard {
  background-color: #728ab0;
  padding: 3vh;
  border-radius: 5vh;
  width: 60vh;
  margin: 2vh;
}
.rightSide .SuppotTicketcard h1,
.rightSide .spSuppotTicketcard h1,
.rightSide .csSuppotTicketcard h1 {
  margin: 0;
}
.SuppotTicketcard .solveButton,
.spSuppotTicketcard .solveButton,
.csSuppotTicketcard .solveButton {
  display: flex;
  justify-content: flex-end;
}
.SuppotTicketcard .solveButton button,
.spSuppotTicketcard .solveButton button,
.csSuppotTicketcard .solveButton button {
  justify-content: center;
  width: auto;
}

.SuppotTicketcard .solveButton .pending,
.spSuppotTicketcard .solveButton .pending,
.csSuppotTicketcard .solveButton .pending {
  background-color: #eb1212;
}
.SuppotTicketcard .solveButton .solved,
.spSuppotTicketcard .solveButton .solved,
.csSuppotTicketcard .solveButton .solved {
  background-color: #41b6e4;
}
.SuppotTicketcard .solveButton .on_review,
.spSuppotTicketcard .solveButton .on_review,
.csSuppotTicketcard .solveButton .on_review {
  background-color: #1caf09;
} */
.rightSide h1 {
  font-size: 3vh;
}
#cusprof .rightSide {
  padding-left: 1vw;
  width: 55%;
}

.rightSide .firstRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1vh;
  align-items: flex-start;
}
.cusProfilemapContainer {
  width: 22vw;
}
.spProfilemapContainer {
  width: 100%;
}
.requestgraph {
  padding: 2vh;
  width: 19vw;
  height: 37vh;
}
.requestChart {
  position: absolute;
  width: 18vw;
  right: 6vw;
}

#cusprof .ratings {
  margin-top: 5vh;
}

#cusprof .ratingrow {
  padding: 2vh;
}

/* *********************************Support Ticket Page ****************************** */
#SupportTicketDatail .topRow button {
  font-size: 2.5vh;
  padding: 2vh;
  border-radius: 2vh;
}
#SupportTicketDatail .topRow button:hover {
  background-color: #2289c4;
  filter: none;
}

#SupportTicketDatail .info {
  display: flex;
  flex-direction: column;
  margin-left: 1.5vw;
}
#SupportTicketDatail .info div {
  display: flex;
  flex-direction: row;
}
#SupportTicketDatail .info div #Detail {
  margin-right: 2vw;
  width: 14%;
}

#SupportTicketDatail .info textarea {
  height: 10vh;
  font-size: 2.5vh;
  border: none;
}
#SupportTicketDatail .info div button {
  width: 8vw;
  /* padding: 1vh; */
  font-size: 2vh;
  border-radius: 2vh;
  border: none;
  background-color: #23a6f0;
  color: white;
  margin: 1vh;
  margin-left: 5vw;
}
#SupportTicketDatail .info .disabledText {
  color: white;
}

/* *******************************Assign CSM ************************** */
#assignCSM {
  background-color: #162645;
  border-radius: 2vh;
  border: white solid 3px;
  position: absolute;
  top: 23vh;
  right: 16vw;
  height: 46vh;
  width: 22vw;
  padding: 1vh;
}
#assignCSM #outline {
  overflow: auto;
  height: inherit;
}
#outline h3 {
  margin: 1vh;
  color: white;
  text-align: center;
}
.csmwindow div {
  display: flex;
  flex-direction: row;
  background-color: #3b4966;
  border-radius: 3vh;
  justify-content: space-between;
  margin: 1vw;
  padding: 0 1vw;
}
.csmwindow #csmcards:hover {
  background-color: #728ab0;
  cursor: pointer;
}

/* *******************Hover box********************* */
.csmcards {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.csmcards:hover {
  cursor: pointer;
}

.csmcards .csmcardtext {
  visibility: hidden;

  background-color: black;
  color: #fff;
  text-align: center;
  /* padding: 5px 0; */
  border-radius: 6px;
  position: absolute;
  z-index: 3;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 2vh;
  padding: 1vh;
}

.csmcards:hover .csmcardtext {
  visibility: visible;
}
.csmcards .csmcardtext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* **********************Scrolling bar******************** */
::-webkit-scrollbar {
  width: 2vh;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #728ab0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #728ab0;
}
/* ************************FAQ**************************** */
/* 
input,
textarea {
  width: 100%;
  font-size: 2.5vh;
}
input {
  margin-bottom: 1vh;
}

#button {
  align-items: flex-end;
}

.faq h1 {
  padding: 1vh;
  background-color: #728ab0;
  text-align: center;
  margin-bottom: 0;
}

.active {
  width: 80%;
}

.faq-item {
  display: flex;
  flex-direction: column;

  width: 100%;
  align-items: center;
}

.question {
  min-width: 100%;

  display: flex;
  background-color: white;
  color: black;
  padding: 2vh 1vw;
  cursor: pointer;
  justify-content: space-between;

  border: none;
  font-size: var(--h7);
  font-weight: var(--semi-bold);
}

.question > span {
  float: right;
}

.answer {
  font-size: var(--h8);
  width: 100%;
  display: none;
  color: #000;
  background-color: rgb(197, 197, 197);
}

.answer p {
  padding: 0 30px 0 30px;
}

.clicked > .material-symbols-outlined {
  transform: rotate(180deg);
} */

/* Verify Page Buttonons on table */

#verification .verifyBu {
  font-size: 2.3vh;
  border-radius: 2vh;
  padding: 1vh;
  width: 5vw;
  text-decoration: none;
  border: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(37, 27, 90, 0.311);
}

#verification .locView {
  background-color: #dbe452;
}
#verification .verify {
  background-color: #42ed36;
  margin-right: 1vw;
}
#verification .cancle {
  background-color: #eb1212;
}

/* ***********************Report Page****************************************** */
#reports > .topRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#reports > .topRow > .inputFileds {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1vh;
  width: 100%;
  gap: 1vh;
}
.inputFileds select {
  width: 100%;
  height: 5vh;
  /* decoration: none; */
  font-size: 2vh;
  color: #757575;
}
.inputFileds input {
  width: 100%;
  height: 5vh;
  padding: 0;
  /* decoration: none; */
}

#reports > .reportArea {
  display: flex;
  flex-direction: column;
}
#reports > .reportArea > .areaButtons {
  display: flex;
  flex-direction: row;
  margin-left: 3vw;
}

.areaButtons div {
  display: flex;
  flex-direction: column;
  margin-right: 8vh;
  width: 6vw;
}

.areaButtons div button {
  width: 6vw;
  height: 6vw;
}
.areaButtons div .selected {
  background-color: #809cc8;
}
.areaButtons div p {
  text-align: center;
}

.areaButtons div button span {
  font-size: 3.5vw;
  color: #151d48;
  font-weight: 600;
}

#reports > .selectionRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 1vh;
  gap: 5vh;
}
#reports > .selectionRow div {
  width: 22vw;
}
#reports > .selectionRow > div > .columnsCB {
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  gap: 0.3vh;
}

#reports > .selectionRow > div > .columnsCB div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
  margin: 0.5vh;
}
#reports > .selectionRow > div > .columnsCB div input {
  width: 1vw;
  height: 1vw;
}

#reports > .selectionRow > .rowsSec > select {
  width: 100%;
  height: 5vh;
  /* decoration: none; */
  font-size: 2vh;
  color: #757575;
}
#reports > .selectionRow > .spfilters > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5vw;
}
#reports > .selectionRow > .spfilters select {
  width: 50%;
  height: 5vh;
  /* decoration: none; */
  font-size: 2vh;
  color: #757575;
}

#reports > .ButtonsRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1vh;
  gap: 1vh;
}

#reports > .ButtonsRow .button {
  width: 10vw;
  padding: 0.5vw 0vw 0.5vw 1vw;
}

#reports > .ButtonsRow .button span {
  font-size: 2vw;
}

/* ************************ Admin Profile view ************************** */
#adminProfile .profileContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#adminProfile .profileContent .middle_View {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vh;
  width: 30vw;
}

#adminProfile .profileContent .middle_View .row {
  width: 30vw;
}

#adminProfile .buttonDiv {
  display: flex;
  justify-content: flex-end;
}
#adminProfile .buttonDiv .button {
  margin: 1vh;
}

#adminProfile .profileContent img {
  width: 10vw;
  align-items: center;
  /* padding-left: 7vw; */
}
/* ********************************************sp profile View***************************************** */
#GarageProf #location {
  color: white;
}

/* ************************ Rating Score Cards************************* */
.ratingrow {
  display: flex;
  flex-direction: column;
}
.starRow {
  display: flex;
  flex-direction: row;
}
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.ratingrow:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {
  /* width: 60%; */
  height: 18px;
  background-color: #54bebe;
}
.bar-4 {
  /* width: 30%; */
  height: 18px;
  background-color: #76c8c8;
}
.bar-3 {
  /* width: 10%; */
  height: 18px;
  background-color: #df979e;
}
.bar-2 {
  /* width: 4%; */
  height: 18px;
  background-color: #d7658b;
}
.bar-1 {
  /* width: 15%; */
  height: 18px;
  background-color: #c80064;
}
