.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 1; /* Ensure it's above other content */
}

#proccessing_boxes {
  z-index: 2;
  background-color: #253555;
  border-radius: 2vw;
  border-color: white;
  border-width: 1vw;
  width: 50%;
  position: fixed;
  top: 30%;
  left: 35%;
  border: solid;
}

#proccessing_boxes #icon {
  text-align: center;
}

#proccessing_boxes #icon img {
  margin-top: 5vh;
  width: 20vh;
}

#proccessing_boxes #Text {
  text-align: center;
}

#proccessing_boxes #Text p {
  font-size: 4vh;
}
#proccessingBoxButtons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5vh;
  margin-bottom: 4vh;
}

#proccessingBoxButtons button {
  width: auto;
  /* height: 10vh;
  font-size: 3vh; */
  /* background-color: #253555;
  color: white; */
  /* border: none;
  border-top: 1px solid white; */
}
