
  
  /* **********************************Dash Board  Recent reports table ********************************************* */
  
  .ReportsSection table {
    margin: 1vh;
  }
  
/* **********************************Customer page search box ********************************************* */
.topRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1vh;
}

.search input[type="text"] {
  width: 300px;
  height: 25px;

  border: none;
}

input:focus {
  outline: none;
}

.search form {
  height: 100%;
}
.search {
  float: right;
  margin: 7px;
  background-color: white;
  padding: 1vh;
}

.search button {
  background-color: transparent;
  color: #253555;
  float: right;

  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

  /* **********************************Customer page Profile view******************************************** */
.profileContent {
  display: flex;
  flex-direction: row;
}
.leftSide {
  border-right: white solid;
  width: 45%;
  padding-left: 5vw;
}
.leftSide img {
  width: 10vw;
  align-items: center;
  padding-left: 7vw;
}

.leftSide .content-box .profileContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1vh;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1vh;
}
.row .tag {
  width: 25%;
  margin: 1vh;
}
.row .tag h1 {
  font-size: 2vh;
  margin: 0;
}

.row .detail p {
  margin: 0;
}

.leftSide .buttonDiv {
  display: flex;
  flex-flow: row wrap;

  align-items: center;
}
.leftSide .buttonDiv .button {
  width: 12vw;
  margin: 2vh;
}
.button {
  margin-top: 3vh;
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  color: white;
  border-radius: 2vh;
  background: #23a6f0;
  display: inline-flex;
  padding: 2vh 2vw;
  align-items: center;
  gap: 1vw;
  border-style: none;
  width: inherit;
  justify-content: center;
}
#cusprof button {
  width: 15vw;
}

#cusprof .rightSide button {
  width: 7vw;
  /* background: #23a6f0; */
  margin-top: 0;
}
.button:hover {
  background: #2289c4;

  text-decoration: none;
}
.rightSide .SuppotTicketcard .row,
.rightSide .spSuppotTicketcard .row,
.rightSide .csSuppotTicketcard .row {
  margin: 0;
}
.rightSide {
  display: flex;
  flex-direction: column;
  padding-left: 5vh;
  width: 45%;
}
.rightSide .stsection #no_support_tickets,
.rightSide .spstsection #spno_support_tickets,
.rightSide .stsection #csno_support_tickets {
  color: #525c9394;
  text-align: center;
  font-size: 2vw;
  padding: 0 8vw;
}
.rightSide .stsection .SuppotTicketcard,
.rightSide .spstsection .spSuppotTicketcard,
.rightSide .stsection .csSuppotTicketcard {
  background-color: #728ab0;
  padding: 3vh;
  border-radius: 5vh;
  width: 60vh;
  margin: 2vh;
}
.rightSide .SuppotTicketcard h1,
.rightSide .spSuppotTicketcard h1,
.rightSide .csSuppotTicketcard h1 {
  margin: 0;
}
.SuppotTicketcard .solveButton,
.spSuppotTicketcard .solveButton,
.csSuppotTicketcard .solveButton {
  display: flex;
  justify-content: flex-end;
}
.SuppotTicketcard .solveButton button,
.spSuppotTicketcard .solveButton button,
.csSuppotTicketcard .solveButton button {
  justify-content: center;
  width: auto;
}

.SuppotTicketcard .solveButton .pending,
.spSuppotTicketcard .solveButton .pending,
.csSuppotTicketcard .solveButton .pending {
  background-color: #eb1212;
}
.SuppotTicketcard .solveButton .solved,
.spSuppotTicketcard .solveButton .solved,
.csSuppotTicketcard .solveButton .solved {
  background-color: #41b6e4;
}
.SuppotTicketcard .solveButton .on_review,
.spSuppotTicketcard .solveButton .on_review,
.csSuppotTicketcard .solveButton .on_review {
  background-color: #1caf09;
}
/* *********************************Support Ticket Page ****************************** */
#SupportTicketDatail .info {
  display: flex;
  flex-direction: column;
  margin-left: 1.5vw;
}
#SupportTicketDatail .info div {
  display: flex;
  flex-direction: row;
}
#SupportTicketDatail .info div #Detail {
  margin-right: 2vw;
  width: 14%;
}

#SupportTicketDatail .info textarea {
  height: 10vh;
  font-size: 2.5vh;
  border: none;
}
#SupportTicketDatail .info div button {
  width: 8vw;
  /* padding: 1vh; */
  font-size: 2vh;
  border-radius: 2vh;
  border: none;
  background-color: #23a6f0;
  color: white;
  margin: 1vh;
  margin-left: 5vw;
}
#SupportTicketDatail .info .disabledText {
  color: white;
}



  /* **********************************Customer support profile view******************************************** */

 #csProfile > .left{
    border-right: white solid;
    width: 40%;
    padding-left: 5vw;
    float: left;
    
  
 }

#csProfile > .right{

  width: 53%;
  float: right;
  margin-top: 60px;
  margin-left: 3px;
  
  
   
}

#csProfile > .left img{

  width : 80%
}
